logs
/logs
project/project
project/target
target
/target
tmp
.history
dist
/.idea
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/local
/bin

# Eclipse, Netbeans and IntelliJ files
/.*
/**/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

